<h1>Editing Preprocess Algorithm</h1>

<%= render 'form', preprocess_algorithm: @preprocess_algorithm %>

<%= link_to 'Show', @preprocess_algorithm %> |
<%= link_to 'Back', preprocess_algorithms_path %>
