<h1>Editing Classification Training Result</h1>

<%= render 'form', classification_training_result: @classification_training_result %>

<%= link_to 'Show', @classification_training_result %> |
<%= link_to 'Back', classification_training_results_path %>
