<%= form_with(model: algorithm, local: true) do |form| %>
  <% if algorithm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(algorithm.errors.count, "error") %> prohibited this algorithm from being saved:</h2>

      <ul>
      <% algorithm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="cateogry">category</label>
    <input type="text" class="form-control" id="category" name="algorithm[category]"aria-describedby="cateogy" placeholder="category">
  </div>
  <div class="form-group">
    <label for="moduel_name">module name</label>
    <input type="text" class="form-control" id="module_name" aria-describedby="module name" placeholder="module name">
  </div>
  <div class="form-group">
    <label for="class_name">class name</label>
    <input type="text" class="form-control" id="class_name" aria-describedby="class name" placeholder="class name">
  </div>
  <div class="form-group">
    <label for="initialize_parameter">initialize parameter</label>
    <textarea class="form-control" id="initialize_parameter" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="grid_search_parameter">grid search parameter</label>
    <textarea class="form-control" id="grid_search_parameter" rows="3"></textarea>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
