<%= form_with(model: preprocess, local: true) do |form| %>
  <% if preprocess.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preprocess.errors.count, "error") %> prohibited this preprocess from being saved:</h2>

      <ul>
      <% preprocess.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
