<div id="new_project_file_upload_box" class="new_project_file_upload_box">

  <div>
    Drag n Drop here for a new project.
  </div>

</div>

<div class="new_project_form">
<%= form_with(model: @project, local: true) do |form| %>
<%= form.file_field :upload_file, :id => 'upload_file' %>
<%= form.submit "Upload" %>
<% end %>
</div>
