<h1>Editing Project Datum Column</h1>

<%= render 'form', project_datum_column: @project_datum_column %>

<%= link_to 'Show', @project_datum_column %> |
<%= link_to 'Back', project_datum_columns_path %>
